<html>

<head>
  <title>{{ title }}</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='./public/stylesheets/style.css' />
</head>

<body>
  <div class='container'>
    <h1>{{ title }}</h1>
    <ul class='nav nav-pills' style='margin: 10px 0'>
      <li class='nav-item'>
        <a class='nav-link active' href='/'>Home</a>
      </li>
      <li>
        <a class='nav-link' href='/tweets'>
          Tweets</a>
      </li>
    </ul>

    <div class='jumbotron'>
      {% block content %} {% endblock %}
    </div>

  </div>
</body>

</html>
